.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.dialog-actions button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dialog-actions button:first-child {
    background-color: #dc3545;
    color: #fff;
}

.dialog-actions button:first-child:hover {
    background-color: #c82333;
}

.dialog-actions button:last-child {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
}

.dialog-actions button:last-child:hover {
    background-color: #5a6268;
}