.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    list-style-type: none;
    min-width: 120px;
    z-index: 1;
}

.dropdown-menu li {
    padding: 4px 8px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f5f5f5;
}