.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 1000;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-text {
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;    
    max-width: 350px;
    max-height: 72.5vh;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-lg {
    width: 90%;
    max-width: 90%;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.form-row-spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-row-centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.form-label label,
.form-input input {
    margin-bottom: 10px;
    margin-left: 10px;
}

.form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

.form p {
    margin-top: 10px;
    text-align: center;
}

.form a {
    color: #007bff;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.form-actions button {
    margin-left: 10px;
}

.form-actions button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

.form-actions button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-actions button[type="button"] {
    background-color: #6c757d;
    color: #fff;
}

.form-actions button[type="button"]:hover {
    background-color: #5a6268;
}