.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #000;
}

.header-user {
    font-weight: bold;
}