.column-lists {
  display: flex;
  justify-content: space-between;
}

.label-list {
  width: 45%;
}

.label-list h3 {
  margin-bottom: 10px;
}

.list {
  padding: 20px;
}

.list h2 {
  margin-bottom: 10px;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.active {
  background-color: #e0f7fa;
  border-color: #80deea;
  padding-inline: 5px;
}

.inactive {
  padding-inline: 5px;
}

.list-actions {
  margin-top: 10px;
}

.list-actions button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-actions button.primary {
  background-color: #007bff;
  color: #fff;
}

.list-actions button.primary:hover {
  background-color: #0056b3;
}

.list-actions button.secondary {
  background-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}

.list-item-actions {
  display: inline-block;
  margin-left: 10px;
}

.list-item-actions button {
  padding: 4px 8px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.list-item-actions button.activate {
  background-color: #80deea;
  color: #000;
}

.list-item-actions button.activate:hover {
  background-color: #5fa6af;
}

.list-item-actions button.edit {
  background-color: #ffc107;
  color: #000;
  margin-left: 5px;
}

.list-item-actions button.edit:hover {
  background-color: #d4a105;
}

.list-item-actions button.delete {
  background-color: #dc3545;
  color: #fff;
  margin-left: 5px;
}

.list-item-actions button.delete:hover {
  background-color: #c82333;
}